<!doctype html>
<html>
  <head>
     <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  </head>
  <body>

      <h1>Sample Application</h1>

      <div ng-app="" ng-init="countries = [{locale:'us',name:'USA'},{locale:'fr',name:'France'}]">
        <p>Enter your name: <input ng-model="userName" type="text" /></p>
        <p>Welcome <span ng-bind="userName"></span>!!</p>

        <p>List of countries with locale</p>
        <ol>
          <li ng-repeat="cr in countries">
            {{'Country: ' + cr.name + '- Locale: '+cr.locale}}
          </li>
        </ol>
      </div>
  </body>
</html>
